<div class="wrapper-content">
    <h3>
        Thông Điệp Nhà Sáng Lập
    </h3>
    <p>
        Thông Điệp Nhà Sáng Lập
        1.
        “Canh nông vi bản”, minh triết của người Việt, nền tảng phát triển kinh tế và đời sống Việt Nam.
        Trong suốt chiều dài lịch sử phát triển đất nước, với điều kiện địa lý thiên thời, nguồn lực dồi dào, nông nghiệp từ vị trí cung cấp nhu cầu lương thực đơn thuần phục vụ nội địa. Đến nay, ngành nông nghiệp đã và đang đóng vai trò quan trọng đối với sự phát triển của nền kinh tế với tỷ trọng xuất khẩu đáng kể. 
        Đối mặt với những yếu tố ngoại vi như biến đổi khí hậu, rủi ro thiên tai, dịch bệnh, ô nhiễm môi trường và những bất ổn trong thương mại toàn cầu, thì việc xây dựng một nền nông nghiệp thông minh, kết hợp hài hoà giữa kinh nghiệm nông nghiệp truyền thống với khoa học hiện đại, ứng dụng công nghệ cao chính là chìa khoá để nâng cao năng suất, giữ vững đà tăng trưởng, phát triển kinh tế song hành cùng bảo vệ môi trường, mở ra cánh cửa hội nhập tốt hơn vào thị trường quốc tế. 
        2.
        “Hãy cho tôi một điểm tựa, tôi sẽ nhấc bổng cả trái đất lên” -  Nhà bác học Hy Lạp Archimedes
        Và với Trúc Anh Biotech, công nghệ vi sinh chính là điểm tựa để chúng tôi nhấc bổng chất lượng thuỷ hải sản Việt, mang đến sự phát triển bền vững, kiến tạo ngành nông nghiệp Việt, tối ưu lợi nhuận cho người nuôi trồng, đồng hành cùng các nhà khoa học và chắp cánh cho những nghiên cứu tiếp nối.
        Được thành lập ngày 20/9/2004 với tên gọi công ty TNHH SX & TM Trúc Anh, không ngừng phát triển qua các thời kỳ và đến nay,  chúng tôi là Công ty TNHH Công nghệ sinh học Trúc Anh (Trúc Anh Biotech). Công ty là đơn vị đi tiên phong trong việc nghiên cứu và thử nghiệm mô hình nuôi tôm bằng vi sinh, chế phẩm sinh học để thay thế hoàn toàn kháng sinh và hóa chất, qua đó làm giảm rủi ro, giảm chi phí, bảo vệ môi trường và nâng cao chất lượng sản phẩm tôm. Chúng tôi luôn đồng hành và hợp tác cùng các nhà khoa học cũng như bà con nuôi tôm ở các tỉnh thành trên cả nước trong việc nghiên cứu, cải tiến chất lượng sản phẩm và các quy trình nuôi, góp phần mang lại hiệu quả và tối đa lợi nhuận cho người nuôi tôm. 

        3.
        Giá trị một niềm tin. 
        -	Niềm tin ở chính mình
        -	Niềm tin từ cộng sự
        -	Niềm tin từ bà con nông dân
        -	Niềm tin từ các đối tác
        -	Niềm tin từ người tiêu dùng gían tiếp: tiêu dùng thực phẩm thuỷ hải sản
        -	Niềm tin ở thế hệ tiếp nối
        -	Niềm tin dành cho sự phát triển nông nghiệp Việt Nam
        4.
        “Bạn không cần phải vĩ đại mới có thể bắt đầu, nhưng bạn phải bắt đầu để trở nên vĩ đại” – Zig Ziglaz
        Và dù thanh xuân không hai lần thắm lại. Nhưng tinh anh của thanh xuân thai nghén từ bộ não của khoa học và nhiệt huyết của tuổi trẻ chính là điểm bắt đầu cho mọi thành tựu, và là động lực thúc đẩy cho những mùa xuân tiếp nối. 
    </p>
    <p>
        <img title="" src="images/demo_image.jpg" class="card-img-top" alt="default_image">
    </p>
</div>