<div class="wrapper-content">
    <h3>
        Sứ mệnh, Tầm nhìn, Giá trị cốt lõi
    </h3>
    <p>
        Sứ mệnh
        Với sứ mệnh mang đến các sản phẩm chất lượng là kết tinh của khoa học và thực tiễn cùng các quy trình, tạo bệ phóng phát triển kinh tế nông dân và đưa nông nghiệp Việt Nam tiến xa hơn trong hội nhập quốc tế.
        Trúc Anh BiOtech lấy sự tận tâm phục vụ khách hàng, trách nhiệm với môi trường và nghiên cứu khoa học để tạo ra các chế phẩm chất lượng cao, mang lại giá trị bền vững cho người nuôi trồng thủy sản, qua đó cùng người chăn nuôi cung cấp ra thị trường trong và ngoài nước những sản phẩm tốt nhất cho sức khỏe. 
        Tầm nhìn
        Bằng khát vọng tiên phong cùng chiến lược phát triển bền vững, Trúc Anh hướng đến là doanh nghiệp hàng đầu tại Việt Nam trong lĩnh vực sản xuất vi sinh, chế phẩm sinh học, giống thủy sản, thuốc thú y - thủy sản, tư vấn và chuyển giao công nghệ nuôi tôm.
        Mang sản phẩm và công nghệ nuôi trồng thuỷ hải sản chất lượng vượt trội đến từng ao nuôi, hướng dẫn người nông dân tiếp cận với kỹ thuật công nghệ hiện đại trong nông nghiệp, đảm bảo chất lượng nông sản, mở rộng cơ hội phát triển kinh tế bền vững cho người dân.
        Khẳng định chất lượng sản phẩm và công nghệ tiên tiến của Trúc Anh BiOtech. Góp phần đưa Bạc Liêu trở thành trung tâm công nghiệp tôm cả nước, đưa Việt Nam trở thành thủ phủ tôm thế giới.
        Giá trị cốt lõi
        “Trúc Anh BiOtech - Giá Trị Một Niềm Tin”
        Phát triển công nghệ sinh học 
        Kiến Tạo Đẳng Cấp Nông Sản Việt
        Đưa Nông Dân Đột Phá Kinh Tế Và Phát Triển Bền Vững
    </p>
    <p>
        <img title="" src="images/demo_image.jpg" class="card-img-top" alt="default_image">
    </p>
</div>