<module href="/components/breadcrumb.html"></module>
<div class="container blog-page">
    <div class="top-head">
        <p>
            Chào Mừng đến Với Trúc Anh BiOTech
        </p>
        <h3>
            Cơ cấu tổ chức.
        </h3>
    </div>
    <div class="wrapper-blog">
        <div class="left-side">
            <div class="wrapper-blog-list">
                <div class="blog-list">
                    <module href="/components/articlepage/article_card_wide.html"></module>
                    <module href="/components/articlepage/article_card_wide.html"></module>
                    <module href="/components/articlepage/article_card_wide.html"></module>
                </div>
                <div class="d-flex justify-content-center">
                    <module href="/components/pagination.html"></module>
                </div>
            </div>
        </div>
        <div class="right-side">
            <h5 class="title-right-side">
                Về Trúc Anh BiOTech
            </h5>
            <module href="/components/articlepage/article_card.html"></module>
            <div class="category-side-bar">
                <module href="/components/articlepage/blog_category.html"></module>
            </div>
            <div class="input-search-side-bar">
                <module href="/components/input_search.html"></module>
            </div>
        </div>
    </div>
</div>