<module href="/components/breadcrumb.html"></module>
<div class="container contact-us-page">
    <div class="top-head">
        <p>
            Chào Mừng đến Với Trúc Anh BiOTech
        </p>
        <h3>
            Liên Hệ
        </h3>
    </div>
    <div class="wrapper-contact-us">
        <div class="left-side">
            <h3>
                Địa chỉ
            </h3>
            <p>
                Địa chỉ: 53F/5 Tôn Đức Thắng, P.7, TP. Bạc Liêu, Bạc Liêu
            </p>
            <h3>
                Thông tin liên hệ
            </h3>
            <p>
                Tel: (0291)3 959.959
                <br>
                Fax:(0291)3 959.979 
            </p>
            <h3>
                Theo dõi
            </h3>
            <div class="media-list">
                <ul class="list-unstyled d-flex justify-content-start align-item-start gap-4">
                    <li>
                        <a href="#" class="media-link">
                            <img title="" class="media-icon" src="images/fb_icon.svg" alt="facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="media-link">
                            <img title="" class="media-icon" src="images/youtube_icon.svg" alt="youtube" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="media-link zalo">
                            <img title="" class="media-icon" src="images/zalo_icon.svg" alt="zalo" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <module href="/components/contactuspage/contact_form.html"></module>
        </div>
    </div>
</div>
<div class="section map-section">
    <div class="wrapper-map-section">
        MAP
    </div>
</div>