<module href="/components/breadcrumb.html"></module>
<div class="container order-page">
    <div class="top-head">
        <p>
            Chào Mừng đến Với Trúc Anh BiOTech
        </p>
        <h3>
            Thanh Toán & Đặt Mua
        </h3>
    </div>
    <div class="wrapper-order-detail">
        <form class="place-order-form" action="">
            <div class="wrapper-place-order-form">
                <div class="wrapper-user-order-info">
                    <h5 class="head-title">1. Thông tin mua hàng</h5>
                    <div class="wrapper-user-info-form">
                        <module href="/components/orderpage/user_order_info_form.html"></module>
                    </div>
                </div>
                <div class="wrapper-payment-method">
                    <h5 class="head-title">2. Hình thức thanh toán</h5>
                    <div class="wrapper-payment-method-form">
                        <div class="left-side">
                            <module href="/components/orderpage/order_payment_method_selection.html"></module>
                        </div>
                        <div class="right-side">
                            <module href="/components/orderpage/order_total.html"></module>
                        </div>
                    </div>
                </div>
            </div>
            <div class="place-order mobile">
                <module href="/components/orderpage/btn_place_order.html"></module>
            </div>
        </form>
    </div>
</div>