<module href="/components/breadcrumb.html"></module>
<div class="container order-confirm-page">
    <div class="top-head">
        <p class="info">
            Chào Mừng đến Với Trúc Anh BiOTech
        </p>
        <h3>
            Đặt hàng thành công
        </h3>
    </div>
    <p class="sub-info">
        Đơn hàng của bạn đã được tiếp nhận, nhân viên của Truc Anh BiOTech sẽ
        <br>
        liên hệ với bạn trong thời gian sớm nhất.
        <br>
        <br>
        Thông tin đặt hàng của bạn
    </p>
    <div class="wrapper-order-confirm">
        <div class="left-side">
            <div class="card bg-grey">
                <div class="row-label-info">
                    <p class="label">
                        Tên khách hàng
                    </p>
                    <p class="info">
                        Nguyễn Văn Huy
                    </p>
                </div>
                <div class="row-label-info">
                    <p class="label">
                        Địa chỉ
                    </p>
                    <p class="info">
                        7/50 Thành Thái, Phường 14, Quận 10, Thành phố HCM, Việt Nam
                    </p>
                </div>
                <div class="row-label-info">
                    <p class="label">
                        Số điện thoại
                    </p>
                    <p class="info">
                        0900807680
                    </p>
                </div>
                <div class="row-label-info">
                    <p class="label">
                        Email
                    </p>
                    <p class="info">
                        Huy@gmail.com
                    </p>
                </div>
                <div class="row-label-info">
                    <p class="label">
                        Phương thức thanh toán
                    </p>
                    <p class="info">
                        Thanh toán trực tiêp COD
                    </p>
                </div>
                <div class="row-label-info">
                    <p class="label">
                        Trạng thái thanh toán
                    </p>
                    <p class="info">
                        Chưa thanh toán
                    </p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="card bg-grey">
                <div class="row-label-info product-list">
                    <p class="label">
                        Sản phẩm
                    </p>
                    <p class="info">
                        Thành Tiền
                    </p>
                </div>
                <div class="row-label-info product">
                    <p class="label">
                        Tên sản phẩm 01
                    </p>
                    <p class="info">
                        Chưa thanh toán
                    </p>
                </div>
                <div class="row-label-info product">
                    <p class="label">
                        Tên sản phẩm 01
                    </p>
                    <p class="info">
                        Chưa thanh toán
                    </p>
                </div>
                <div class="row-label-info product">
                    <p class="label">
                        Tên sản phẩm 01
                    </p>
                    <p class="info">
                        Chưa thanh toán
                    </p>
                </div>
                <div class="wrapper-total">
                    <div class="row-price-label">
                        <p>
                            Tạm tính
                        </p>
                        <p class="price">
                            639.000 đ
                        </p>
                    </div>
                    <div class="row-price-label">
                        <p>
                            Giảm Giá
                        </p>
                        <p class="price">
                            0 đ
                        </p>
                    </div>
                    <div class="row-price-label">
                        <p>
                            Vận chuyển
                        </p>
                        <p class="price">
                            0 đ
                        </p>
                    </div>
                </div>
                <div class="total row-price-label">
                    <p>
                        Tổng cộng
                    </p>
                    <p class="price">
                        <span class="total-price">639.000 đ</span>
                        <span class="total-price-note">
                            Đã bao gồm VAT
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>