<module href="/components/breadcrumb.html"></module>
<div class="product-list-page main-page">
    <div class="container wrapper-product-list">
        <div class="left-side">
            <module href="/components/filter.html"></module>
        </div>
        <div class="right-side">
            <module href="/components/productpage/product_list.html"></module>
            <div class="d-flex justify-content-center">
                <module href="/components/pagination.html"></module>
            </div>
        </div>
    </div>
</div>