<module href="/components/breadcrumb.html"></module>
<div class="mb-3 product-detail-page main-page">
    <div class="container wrapper-product-detail">
        <div class="left-side">
            <module href="/components/productpage/product_main_slider.html"></module>
        </div>
        <div class="right-side">
            <module href="/components/productpage/product_detail_info.html"></module>
        </div>
    </div>
    <module href="/components/productpage/product_detail_tabs.html"></module>
    <module href="/components/productpage/product_related.html"></module>
</div>
