.article-list-page {
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
        margin-bottom: 24px;
    }
}

.article-detail-page {
    margin-bottom: 75px;

    @include media-breakpoint-down(md) {
        margin-bottom: 24px;
    }
}

.wrapper-article-list {
    margin-top: 48px;
}

.wrapper-article-detail {
    img {
        border-radius: 24px;
        width: 100%;
    }

    .article-detail-title {
        margin-bottom: 24px;
    }

    a {
        text-decoration: underline;
        font-weight: 400;
    }

    .sub-text-image {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 24px;
    }
}

.mega-thumb {
    margin-top: 80px;

    @include media-breakpoint-down(md) {
        margin-top: 24px;
    }

    &.quote-text {
        margin: 24px 0;
    }
}

.article-related {
    margin-top: 80px;
}

.wrapper-article-detail-layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 24px;
    }

    .left-side {
        flex: 1 1 70%;
        max-width: 70%;

        @include media-breakpoint-down(md) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }

    .right-side {
        flex: 1 1 30%;
        max-width: 30%;

        @include media-breakpoint-down(md) {
            flex: 1 1 100%;
            max-width: 100%;
        }
        .card-article {
            .article-image {
                height: auto;
            }
        }
    }
}