.contact-us-page {
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
        margin-bottom: 24px;
    }
}

.card-contact-us-form {
    background-color: #f2f2f2;
    padding: 32px;

    input,
    textarea {
        background-color: $white;
    }

    .contact-us-form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .wrapper-btn-submit {
            text-align: right;

            button {
                width: 100%;
                max-width: calc(100% - 153px);
        
                @include media-breakpoint-down(lg) {  
                    max-width: 100%;
                }
            }
        }
    }
}

.wrapper-contact-us {
    margin-top: 40px;
    display: flex;
    gap: 80px;

    @include media-breakpoint-down(lg) {  
        gap: 40px;
    }

    @include media-breakpoint-down(md) {  
        gap: 8px;
        margin-top: 24px;
        flex-direction: column;
    }

    > * {
        flex: 1 1 50%;
        max-width: 50%;

        @include media-breakpoint-down(md) {  
            flex: 1 1 100%;
            max-width: 100%;
        }
    }

    h3 {
        margin-bottom: 16px;
    }

    .media-list {
        .media-link {
            img {
                width: 19px;
            }

            opacity: 0.5;

            &.zalo {
                img {
                    width: 29px;
                }
            }

            &,
            &:after {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }

    p {
        margin-bottom: 24px;
        font-size: 16px;

        @include media-breakpoint-down(md) {  
            margin-bottom: 16px;
        }
    }
}