<div class="mega-thumb">
    <div class="wrapper-mega-thumb">
        <img title="" class="article-image" src="images/demo_image.jpg" alt="">
        <div class="mege-thumb-content">
            <h5 class="mega-thumb-title">
                BILLY HART
            </h5>
            <p class="mega-thumb-content">
                Lorem ipsum dolor sit amet, consectetur a elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient.
            </p>
        </div>
    </div>
</div>