<div class="card card-article">
    <a href="#">
        <img title="" class="article-image" src="images/demo_image.jpg" alt="">
    </a>
    <p class="date">
        02.02.2021
    </p>
    <h5 class="card-title article-title">
        Công ty TNHH SX&TM Trúc Anh: Thay đổi tư duy người nuôi tôm Việt bằng công nghệ
    </h5>
    <p class="article-content">
        Năm nay Công ty TNHH SX&TM Trúc Anh vừa tròn 15 tuổi. Đây cũng là khoảng thời gian đủ dài để Trúc Anh ghi dấu ấn của mình bằng Năm nay Công ty TNHH SX&TM Trúc Anh vừa tròn 15 tuổi. Đây cũng là khoảng thời gian đủ dài để Trúc Anh ghi dấu ấn của mình bằng
    </p>
</div>