<div class="category-list">
    <div class="wrapper-category-list">
        <div class="title-category">
            Danh Mục
        </div>
        <ul class="list-unstyled">
            <li>
                <a href="#">
                    Artistic
                </a>
            </li>
            <li>
                <a href="#">
                    Crafting
                </a>
            </li>
            <li>
                <a href="#">
                    Creative
                </a>
            </li>
            <li>
                <a href="#">
                    Decoration
                </a>
            </li>
            <li>
                <a href="#">
                    Home Decor
                </a>
            </li>
        </ul>
    </div>
</div>