<div class="card card-contact-us-form">
    <form action="#" class="contact-us-form">
        <div class="wrapper-input-item input-group-lg">
            <label for="username" class="form-label">Họ Tên</label>
            <input type="text" name="username" class="form-control" placeholder="Nhập Họ Tên" aria-label="username" aria-describedby="username">
        </div>
        <div class="wrapper-input-item input-group-lg">
            <label for="phone" class="form-label">Điện thoại di động</label>
            <input type="text" name="phone" class="form-control" placeholder="Nhập Số Điện Thoại" aria-label="phone" aria-describedby="phone">
        </div>
        <div class="wrapper-input-item input-group-lg">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="email">
        </div>
        <div class="wrapper-input-item input-group-lg">
            <label for="note" class="form-label">Nội dung cần tư vấn</label>
            <textarea class="form-control" name="note" aria-label="note" aria-describedby="note" placeholder="Nhập nội dung" id="note"></textarea>
        </div>
        <div class="wrapper-btn-submit">
            <button type="button" class="btn btn-primary btn-lg">
                Xác Nhận
            </button>
        </div>
    </form>
</div>
