<div class="product-tabs">
    <div class="container">
        <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="btn-tab active" id="description-tab" data-bs-toggle="pill" data-bs-target="#description"
                    type="button" role="tab" aria-controls="description" aria-selected="true">Mô Tả</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn-tab" id="product-detail-info-tab" data-bs-toggle="pill" data-bs-target="#product-detail-info"
                    type="button" role="tab" aria-controls="product-detail-info" aria-selected="false">Thông tin chi tiết</button>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="container tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="wrapper-tab-content">
                <h3>Tên Sản phẩm 01</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
                </p>
                <p>
                    <img title="" src="images/sample_image_slide_3.jpg" alt="">
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
                </p>
            </div>
        </div>
        <div class="container tab-pane fade" id="product-detail-info" role="tabpanel" aria-labelledby="product-detail-info-tab">
            <div class="wrapper-tab-content">
                product detail info
            </div>
        </div>
    </div>
</div>