<div class="wrapper-product-detail-silder">
    <div class="swiper-with-navigator">
        <div class="swiper main-product-image-left-side">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </div>
                <div class="swiper-slide">
                    <img title="" src="images/sample_image_slide_2.jpg" alt="product-image">
                </div>
                <div class="swiper-slide">
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </div>
                <div class="swiper-slide">
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </div>
                <div class="swiper-slide">
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </div>
                <div class="swiper-slide">
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="swiper main-product-image-thumb">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a
                    href="images/sample_product_image.png"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </a>
            </div>
            <div class="swiper-slide">
                <a
                    href="images/sample_image_slide_2.jpg"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_image_slide_2.jpg" alt="product-image">
                </a>
            </div>
            <div class="swiper-slide">
                <a
                    href="images/sample_product_image.png"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </a>
            </div>
            <div class="swiper-slide">
                <a
                    href="images/sample_product_image.png"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </a>
            </div>
            <div class="swiper-slide">
                <a
                    href="images/sample_product_image.png"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </a>
            </div>
            <div class="swiper-slide">
                <a
                    href="images/sample_product_image.png"
                    data-fancybox="gallery"
                >
                    <img title="" src="images/sample_product_image.png" alt="product-image">
                </a>
            </div>
        </div>
    </div>
</div>
