<div class="wrapper-product-detail-info">
    <h3 class="product-name">
        Tên Sản phẩm 01
    </h3>
    <div class="more-product-info">
        <p>
            SKU: 041
        </p>
    </div>
    <div class="product-price">
        <p class="price">
            113.000 VNĐ
        </p>
    </div>
    <div class="product-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
        </p>
        <p>
            <b>Thời gian thực hiện: </b>2 năm 01/2011 đến 31/12/2021
        </p>
    </div>
    <div class="warpper-add-to-cart">
        <button type="button" class="btn btn-primary btn-lg btn-product-detail-contact" data-bs-toggle="modal" data-bs-target="#contact-us-modal">Liên Hệ Tư Vấn</button>
        
        <div class="modal fade" id="contact-us-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contact-us-modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-body">
                    <module href="/components/productpage/contact_us_form.html"></module>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex gap-3">
    <module href="/components/modal_success.html"></module>
    <module href="/components/modal_warning.html"></module>
</div>