<div class="product-card">
    <div class="wrapper-product-image">
        <a href="#">
            <img title="" class="product-image" src="images/sample_product_image.png" alt="">
        </a>
        <div class="wrapper-btn my-3">
            <button type="button" class="btn btn-primary btn-lg">thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="wrapper-product-card-info">
        <div class="product-name">
            <p>
                Tên Sản phẩm 01
            </p>
        </div>
        <div class="product-price">
            <div class="price">
                113.000 VNĐ
            </div>
        </div>
    </div>
</div>