<div class="wrapper-product-detail-info">
    <h3 class="product-name">
        Tên Sản phẩm 01
    </h3>
    <div class="more-product-info">
        <p>
            SKU: 041
        </p>
    </div>
    <div class="product-price">
        <p class="price sale-price">
            113.000 VNĐ
            <span class="sale-percent">
                -30%
            </span>
        </p>
        <p class="price">
            213.000 VNĐ
        </p>
    </div>
    <div class="product-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.
        </p>
    </div>
    <module href="/components/productpage/product_variable.html"></module>
    <div class="warpper-add-to-cart">
        <div class="quantity">
            <label for="quantity" class="form-label">Số lượng:</label>
            <div class="block-quantity">
                <div class="wrapper-input-group input-group-lg">
                    <input type="text" name="quantity" class="form-control" value="1" aria-label="quantity" aria-describedby="quantity">
                    <span class="icon-quantity icon-minus">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-quantity icon-plus">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <button class="btn btn-primary btn-lg">Mua Hàng</button>
            </div>
        </div>
    </div>
    
</div>