<div class="product-variable">
    <div class="wrapper-product-variable">
        <a href="#" class="product-variation product-item-1">
            5Kg
        </a>
        <a href="#" class="product-variation product-item-2">
            10Kg
        </a>
        <a href="#" class="product-variation active product-item-3">
            15Kg
        </a>
        <a href="#" class="product-variation disabled product-item-4">
            20Kg
        </a>
        <a href="#" class="product-variation product-item-5">
            25Kg
        </a>
        <a href="#" class="product-variation product-item-6">
            30Kg
        </a>
    </div>
</div>