<div class="user-logged">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img title="" class="user-avatar rounded-circle" src="images/default_avatar.png" alt="">
            <span class="user-name">Justin Nguyễn</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="#">Đăng Xuất</a>
            </li>
        </ul>
    </div>
</div>