<div class="banking-internal-list">
    <div class="card wrapper-banking-list">
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item active">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
        <div class="item">
            <img src="" alt="">
        </div>
    </div>
</div>