<div class="cart-total">
    <div class="card">
        <h3>Tổng Giá</h3>
        <div class="wrapper-cart-total">
            <div class="row-price-label">
                <p>
                    Tạm tính
                </p>
                <p class="price">
                    639.000 đ
                </p>
            </div>
            <div class="row-price-label">
                <p>
                    Giảm Giá
                </p>
                <p class="price">
                    0 đ
                </p>
            </div>
            <div class="row-price-label">
                <p>
                    Vận Chuyển
                </p>
                <p class="price">
                    0 đ
                </p>
            </div>
            <div class="total row-price-label">
                <p>
                    Tổng cộng
                </p>
                <p class="price">
                    <span class="total-price">639.000 đ</span>
                    <span class="total-price-note">
                        Đã bao gồm VAT
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>