<form class="login-form" action="">
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Tài khoản đăng nhập" aria-label="phone" aria-describedby="uername">
    </div>
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Mật khẩu" aria-label="phone" aria-describedby="password">
    </div>
    <div class="wrapper-btn-login">
        <button type="button" class="btn btn-lg btn-primary">Đăng nhập</button>
        <div class="d-flex justify-content-between">
            <a href="#" class="link-primary" data-bs-toggle="modal"
            data-bs-target="#register-modal-form">Đăng ký</button>
            <a href="#" class="link-primary">Quên mặt khẩu</button>
        </div>
    </div>
</form>