<form class="register-form" action="">
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Họ tên" aria-label="phone" aria-describedby="uername">
    </div>
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Số điện thoại" aria-label="phone" aria-describedby="phone">
    </div>
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="email">
    </div>
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Mật khẩu" aria-label="password" aria-describedby="password">
    </div>
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" placeholder="Xác nhận mật khẩu" aria-label="comfirm-password" aria-describedby="comfirm-password">
    </div>
    <div class="wrapper-btn-login">
        <button type="button" class="btn btn-lg btn-primary">Đăng ký</button>
        <div class="text-center">
            <a href="#" class="link-primary">Đăng nhập</button>
        </div>
    </div>
</form>