
<div class="modal fade" id="register-modal-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="register-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-light btn-close-modal icon-close" data-bs-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <div class="wrapper-login-form-modal">
                    <div class="left-side">
                        <div>
                            <h5 class="modal-title">đăng ký</h5>
                            <p>đăng nhập hoặc tạo tài khoản</p>
                            <module href="/components/login/register_form.html"></module>
                        </div>
                        <p class="left-side-footer text-center mt-3">
                            Bằng việc tiếp tục, bạn đã chấp nhận <a href="#">điều khoản sử dụng</a>
                        </p>
                    </div>
                    <div class="right-site">
                        <img title="" src="images/sample_image_slide.jpeg" alt="banner-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
