<div class="swiper main-banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide.jpeg" alt="banner-image">
        </div>
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide_2.jpg" alt="banner-image">
        </div>
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide_3.jpg" alt="banner-image">
        </div>
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide.jpeg" alt="banner-image">
        </div>
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide_2.jpg" alt="banner-image">
        </div>
        <div class="swiper-slide">
            <img title="" src="images/sample_image_slide_3.jpg" alt="banner-image">
        </div>
    </div>
</div>