<div class="drtom-icon" data-bs-toggle="modal" data-bs-target="#drTom_video"></div>

<div class="video-content-youtube modal fade" id="drTom_video" data-bs-keyboard="false" tabindex="-1" aria-labelledby="drTom_video" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width="100%" height="500" src="https://www.youtube-nocookie.com/embed/5Tfl9CCPYYY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
