<div class="container homepage-block homepage-effect block-articles homepage-5">
    <div class="head-block">
        <h2>Tin tức</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t...
        </p>
    </div>
    <div class="wrapper-two-col-articles">
        <div class="left-side">
            <module href="/components/card_long_text.html"></module>
        </div>
        <div class="right-side">
            <module href="/components/card.html"></module>
            <module href="/components/card.html"></module>
            <module href="/components/card.html"></module>
            <module href="/components/card.html"></module>
        </div>
    </div>
    <div class="articles-footer">
        <button class="btn btn-secondary">Xem tất cả</button>
    </div>
</div>