<div class="homepage-block homepage-effect homepage-4">
    <div class="container">
        <div class="head-block">
            <h2>giải thưởng</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t...
            </p>
        </div>
        <div class="row container-thumbs-award">
            <p class="award-list">
                <img title="" src="images/award_1.png" alt="award">
                <img title="" src="images/award_2.png" alt="award">
                <img title="" src="images/award_3.png" alt="award">
                <img title="" src="images/award_4.png" alt="award">
            </p>
        </div>
    </div>
    <div class="swiper award-images">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img title="" src="images/image_2.png" alt="award">
            </div>
            <div class="swiper-slide">
                <img title="" src="images/image_3.png" alt="award">
            </div>
            <div class="swiper-slide">
                <img title="" src="images/image_2.png" alt="award">
            </div>
            <div class="swiper-slide">
                <img title="" src="images/image_3.png" alt="award">
            </div>
            <div class="swiper-slide">
                <img title="" src="images/image_2.png" alt="award">
            </div>
            <div class="swiper-slide">
                <img title="" src="images/image_3.png" alt="award">
            </div>
        </div>
    </div>
</div>
