<div class="banner homepage-block homepage-effect homepage-1 banner-homepage">
    <div class="wrapper-banner">
        <div class="banner-info">
            <div class="banner-info-top">
                <div class="container banner-info-content">
                    <p>
                        <img title="" class="logo-banner-info" src="images/logo_banner_info_top.png" alt="Logo">
                    </p>
                    <a href="#" class="btn btn-primary">về chúng tôi</a>
                </div>
                <!-- <div class="container banner-info-content option-2 mt-3">
                    <h1>Trúc Anh BiOTech</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t...
                    </p>
                    <a href="#" class="btn btn-primary">về chúng tôi</a>
                </div> -->
            </div>
            <div class="banner-slider">
                <img title="" src="images/bg_banner_slide.png" alt="">
                <module href="/components/homepage/banner.html"></module>
            </div>
            <div class="banner-info-bottom">
                <div class="wrapper-banner-info-bottom-img">
                    <img title="" class="banner-info-image" src="images/sample_banner_info_image_2.png" alt="">
                </div>
                <div class="wrapper-content-image">
                    <ul class="list-unstyled">
                        <li>
                            <div>
                                <h5>Sứ Mệnh</h5>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>      
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5>Tầm Nhìn</h5>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>