<div class="homepage-block homepage-effect homepage-2">
    <div class="d-flex justify-content-center">
        <module href="/components/homepage/drTomVideo.html"></module>
    </div>
    <div class="head-block">
        <h2>bác sỹ tôm</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t...
        </p>
    </div>
    <div class="swiper swiper-item-center-zoom content-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card video">
                    <a href="#" class="thumb-video-play">
                        <img title="" src="images/demo_image.jpg" class="card-img-top" alt="default_image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text limit-line">
                            Some quick example text to build on the card title and make up the bulk of the card's content. 
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/card.html"></module>
            </div>
        </div>
    </div>
    <div class="container more-link">
        <button class="btn btn-secondary">xem toàn bộ bài viết</button>
        <button class="btn btn-primary">xem kênh youtube</button>
    </div>
</div>
