<div class="homepage-block homepage-effect homepage-3">
    <div class="head-block">
        <h2>danh mục sản phẩm</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t...
        </p>
    </div>
    <div class="swiper news-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
            <div class="swiper-slide">
                <module href="/components/wide_card.html"></module>
            </div>
        </div>
    </div>
</div>