<div class="footer-content">
    <div class="wrapper-footer">
        <div class="column-section logo-footer">
            <div class="wrapper-logo-footer">
                <a href="#">
                    <img title="" class="logo-footer" src="images/logo.svg" alt="Logo" />
                </a>
                <div>
                    <img title="" class="logo-license-footer" src="images/footer_license.png" alt="license" />
                </div>
            </div>
        </div>
        <div class="column-section">
            <h5 class="text-capitalize mb-3">nội dung</h5>
            <ul class="list-unstyled text-capitalize footer-list-content">
                <li>
                    <a href="#">
                        <span>đăng ký</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>đăng nhập</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>về chúng tôi</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>quy trình</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>tin tức</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="column-section">
            <h5 class="text-capitalize mb-3">sản phẩm</h5>
            <ul class="list-unstyled text-capitalize footer-list-content">
                <li>
                    <a href="#">
                        <span>thức ăn bổ sung, khoáng chất</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>nhóm xử lý môi trường</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>về chúng tôi</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>bảng báo giá sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>danh mục lưu hành</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="column-section">
            <h5 class="text-capitalize mb-3">liên hệ</h5>
            <div class="media-list">
                <ul class="list-unstyled d-flex justify-content-start align-item-start gap-2">
                    <li>
                        <a href="#" class="media-link">
                            <img title="" class="media-icon" src="images/fb_icon.svg" alt="facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="media-link">
                            <img title="" class="media-icon" src="images/youtube_icon.svg" alt="youtube" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="media-link">
                            <img title="" class="media-icon" src="images/zalo_icon.svg" alt="zalo" />
                        </a>
                    </li>
                </ul>
            </div>
            <p class="address">
                Địa chỉ: 53F/5 Tôn Đức Thắng, P.7,<br> TP. Bạc Liêu, Bạc Liêu
                <br>
                Tel: (0291)3 959.959
                <br>
                Fax:(0291)3 959.979
            </p>
        </div>
    </div>
</div>