<div class="filter-sidebar wrapper-filter">
    <div class="filter filter-kinds">
        <h5 class="filter-title text-uppercase" data-bs-toggle="collapse" 
            href="#kinds" role="button" aria-expanded="false" aria-controls="kinds">chủng loại</h5>
        <div class="filter-item-list collapse show" id="kinds">
            <ul class="list-unstyled">
                <li>
                    <div class="form-check">
                        <label for="1">
                            loại 1
                        </label>
                        <input id="1" class="form-check-input" type="radio" name="kinds">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="2">
                            loại 1
                        </label>
                        <input id="2" class="form-check-input" type="radio" name="kinds">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="3">
                            loại 3
                        </label>
                        <input id="3" class="form-check-input" type="radio" name="kinds">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="4">
                            loại 4
                        </label>
                        <input id="4" class="form-check-input" type="radio" name="kinds">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="5">
                            loại 5
                        </label>
                        <input id="5" class="form-check-input" type="radio" name="kinds">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="filter filter-material">
        <h5 class="filter-title text-uppercase" data-bs-toggle="collapse" 
            href="#material" role="button" aria-expanded="false" aria-controls="material">material</h5>
        <div class="filter-item-list collapse show" id="material">
            <ul class="list-unstyled">
                <li>
                    <div class="form-check">
                        <label for="6">
                            loại 1 (14)
                        </label>
                        <input id="6" class="form-check-input" type="radio" name="material">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="7">
                            loại 2 (14)
                        </label>
                        <input id="7" class="form-check-input" type="radio" name="material">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="8">
                            loại 3 (14)
                        </label>
                        <input id="8" class="form-check-input" type="radio" name="material">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="filter filter-price">
        <h5 class="filter-title text-uppercase" data-bs-toggle="collapse" 
            href="#price" role="button" aria-expanded="false" aria-controls="price">giá</h5>
        <div class="filter-item-list collapse show" id="price">
            <ul class="list-unstyled">
                <li>
                    <div class="form-check">
                        <label for="9">
                            10.000 VND
                        </label>
                        <input id="9" class="form-check-input" type="radio" name="price">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="10">
                            20.000 VND
                        </label>
                        <input id="10" class="form-check-input" type="radio" name="price">
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <label for="11">
                            30.000 VND
                        </label>
                        <input id="11" class="form-check-input" type="radio" name="price">
                    </div>
                </li>
                <li>
                    <form action="#" class="price-from-to-form">
                        <div class="wrapper-input input-group-lg">
                            <input type="text" name="price-from" class="form-control" placeholder="Giá từ" aria-label="price-from" aria-describedby="price-from">
                        </div>
                        <div class="wrapper-input input-group-lg">
                            <input type="text" name="price-to" class="form-control" placeholder="Giá đến" aria-label="price-to" aria-describedby="price-to">
                        </div>
                        <button type="button" class="btn btn-primary">
                            Áp Dụng
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>