<module href="/components/breadcrumb.html"></module>
<div class="container">
    <form action="" class="form-forgotpassword">
        <h3>Quên mật khẩu</h3>
        <p>
            Vui lòng cung cấp email hoặc số điện thoại đăng nhập để lấy lại mật khẩu.
        </p>
        <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control" placeholder="Nhập số điện thoại" aria-label="phone" aria-describedby="phone">
        </div>
        <button type="button" class="btn btn-primary btn-lg" >GỬi</button>
    </form>
</div>