<div class="cart">
    <div class="btn-group cart-btn">
        <button class="btn dropdown-toggle no-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img title="" src="images/cart.svg" alt="cart" />
            <span class="cart-counter-item">03</span>
        </button>
        <div class="dropdown-menu">
            <div class="added-product-to-cart">
                <span>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Thêm vào giỏ hàng thành công
                </span>
            </div>
            <a class="btn btn-primary w-100">
                <span>xem giỏ hàng</span>
            </a>
        </div>
    </div>
    <div class="nav-link cart-link">
        <span class="wrapper-counter-item">
            <img title="" src="images/cart.svg" alt="cart" />
            <span class="cart-counter-item">03</span>
        </span>
        <a href="#">
            <span>
                Giỏ hàng
            </span>
        </a>
    </div>
</div>