<div>
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
        data-bs-target="#msg-success">Modal Success</button>
    <div class="modal fade msg-modal" id="msg-success" data-bs-keyboard="false" tabindex="-1" aria-labelledby="msg-success" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                   <div class="card">
                        <p class="msg-image">
                            <img src="images/icon_success.svg" alt="">
                        </p>
                        <p class="msg-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">
                            Xác Nhận
                        </button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>