<nav class="navbar navbar-expand-xl navbar-light container">
    <div class="container-fluid gap-3">
        <div>
            <a href="#"><img title="" src="images/logo.svg" alt="Logo" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-header"
            aria-controls="menu-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-capitalize" id="menu-header">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://google.com" id="visinh" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        trang chủ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="visinh">
                        <li><a class="dropdown-item" href="#">vể trúc anh</a></li>
                        <li><a class="dropdown-item" href="#">sứ mệnh</a></li>
                        <li><a class="dropdown-item" href="#">tầm nhìn</a></li>
                        <li><a class="dropdown-item" href="#">cơ cấu tổ chức</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">vi sinh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vi-sinh">con giống</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">tư vấn thiết kế</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">bác sỹ tôm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">liên hệ</a>
                </li>
            </ul>
            <div class="right-side">
                <module href="/components/header_Cart.html"></module>
                <div class="language">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            tiếng việt
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">tiếng việt</a></li>
                            <li><a class="dropdown-item" href="#">tiếng anh</a></li>
                            <li><a class="dropdown-item" href="#">tiếng đức</a></li>
                        </ul>
                    </div>
                </div>
                <module href="/components/navigator/btn_login.html"></module>
            </div>
        </div>
    </div>
</nav>
<module href="/components/login/login_modal.html"></module>
<module href="/components/login/register_modal.html"></module>